{% extends 'base.html' %}

{% block content %}
    <div style="text-align:center">
        <br>
        <h1>Olá, {{ current_user.nome }}!</h1>
    <br>
    <br>
    <br>
    <img src="/static/logo.png" height="50px">
    <br>
    <br>
    <br>
    <br>
    <a href="{{ url_for('edicao') }}"><input type="button" style="background-color: #e4a111; color: black;" value="Editar dados cadastrais"></a><p></p>
    <br>
    <a href="{{ url_for('logout') }}"><input type="button" style="background-color: #e4a111; color: black;" value="Logout"></a>
    <a href="{{ url_for('lista') }}"><input type="button" style="background-color: #e4a111; color: black; " value="Lista de Usuários"></a>
</div>
{% endblock %}
